[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/mdlufy/Desktop/Proteus 8 Professional.desktop]
row=9
col=0

[/home/mdlufy/Desktop/Proteus 8 Professional.lnk]
row=8
col=0

[80C88269C8825D72]
row=2
col=0

[17DC-25E2]
row=1
col=0

[36A06DD5A06D9BDD]
row=4
col=0

[aa313be1-8d9a-4755-8952-c4584c19ad87]
row=0
col=0

[829A78659A78579D]
row=3
col=0

[/home/mdlufy]
row=7
col=0

[/]
row=6
col=0

[Trash]
row=5
col=0

